body{
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
    margin-left: -1px;
}

.header-cube{
    height: 16px;
    width: 16px;
    background-color: #0050FF;
    margin-top: 22px;
}

h1{
    font-size: 100px;
}

header{
    display: flex;
    position: fixed;
    z-index: 10;
    background-color: white;
    width: 100%;
    top: 0;
    height: 120px;
    overflow: hidden;
    justify-content: space-between;
}

.name_title{
    display: flex;
    padding-top: 30px;
    margin-left: 30px;
}

.name_title h2{
    margin-left: 10px;
    cursor: pointer;
}

.name_title h4{
    font-weight: lighter;
    margin-top: 23px;
    word-spacing: 4px;
}

.name-title-block{
    display: flex;
}

ul li{
    display: inline-block;
    margin-right: 30px;
    font-weight: lighter;
}

li a{
    text-decoration: none;
    color: black;
}

nav{
    margin-top: 45px;
    margin-left: 35%;
}

#propos{
    display: flex;
    margin-bottom: -780px;
}

.background_left{
    width: 45%;
    height: 900px;
    background-color: #E6DACE;
    margin-left: -8px;
    z-index: 1;
    position: absolute;
    margin-top: 110px;  
}

.presentation{
    z-index: 2;
    display: flex;
    margin-top: 260px;
    position: relative;
    margin-left: 180px;  
    margin-left: auto;
    margin-right: auto;
}

.presentation_left{
    width: 400px;
    height: 500px;
    border: 1px solid #F4ECE6;
    background-color: #F4ECE6;
    text-align: center;
    margin-top: 20px;
}

.bref_presentation img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 35px;
}

.name_title_presentation{
    display: block;
    margin-top: 30px;
}

.logos{
    background-color: #ffffff;
    height: 50px;
    width: 400px;
    margin-top: 81px;
    border: 1px solid #F4ECE6;
}

.logos img{
    height: 25px;
    width: 28px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 15px;
}

.presentation_right{
    width: 350px;
    height: 500px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    padding-left: 30px;
    margin-top: 20px;
}

.bref-skill-presentation{
    margin-top: 80px;
}

.bref-skill-presentation h4{
    margin-bottom: 50px;
}

.propos-button{
    width: 130px;
    height: 40px;
    border-radius: 30px;
    font-size: 16px;
    border: solid #0050FF 2px;
}

.propos-projets{
    background-color: #0050FF;
    color: #ffffff;
    margin-left: 50px;
}

.propos-cv{
    margin-left: 10px;
    background-color: #ffffff;
}

.propos-cv:hover{
    background-color: #0050FF;
    color: #ffffff;
}

.propos-projets:hover{
    border: solid 2px #0050FF;
    color: #000000;
    background-color: #ffffff;
}

.propos-buttons{
    margin-top: 55px;
}

.presentation_right p{
    margin-top: 60px;
    line-height: 30px;
}

#cv{
    margin-top: 120px;
    text-align: center;
    width: 100%;
    background-color: #E6DACE;
    overflow: hidden; 
    margin-bottom: -1030px;
}

#cv h2{
    margin-top: 90px;
}

#cv h3{
    text-align: left;
}

.cv-hr,
.projets-hr,
.contact-hr,
.presentation-hr{
    width: 25px;
    color: #0050FF;
    height: 3px;
    background-color: #0050FF;
}

.cv-download{
    margin-top: 30px;
    border-radius: 30px;
    width: 150px;
    height: 50px;
    background-color: #0050FF;
    border: 1px solid #0050FF;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
}

.cv-download a{
    text-decoration: none;  
    color: #ffffff;
}

.cv-download:hover{
    background-color: transparent;
    color: #000000;
    border: 2px solid #0050FF;
}



.cv-contents{
    width: 870px;
    margin: 100px auto;
}

.skill{
    display: flex;
    justify-content: space-around;
    margin-top: 45px;
    border: solid 1px #ffffff;
    height: 150px;
    width: 860px;
    align-items: center;
    background-color: #ffffff;
}

.logo-html{
    width: 70px;
    height: 60px
}

.logo-css{
    width: 50px;
    height: 60px
}

.logo-js{
    width: 120px;
    height: 60px
}

.logo-react{
    width: 50px;
    height: 50px
}

.experience h4,
.education-left h4{
    color: #0050FF;
    font-size: 20px;
}

.experience-left h5{
    font-size: 16px;
}

.experience-left h6{
    font-size: 14px;
}

.experiences{
    margin-top: 130px;
}

.experience{
    display: flex;
    text-align: left;
    margin-top: 45px;
    margin-bottom: 45px;
    border: solid 1px #ffffff;
    background-color: #ffffff;
    width: 860px;
    height: 280px;
}

.experience-left{
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 35%;
}

.experience-right{
    margin-top: 70px;
    margin-left: 160px;
    margin-right: 50px;
    width: 65%;
    line-height: 2em;
}

.educations{
    margin-top: 130px;
}

.education{
    margin-top: 45px;
    display: flex;
    text-align: left;
    width: 860px;
    border: solid 1px  #ffffff;
    background-color:  #ffffff;
}

.education-left{
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.education-right{
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 250px;
}

.education-third{
    margin-left: 300px;
}

.experience:hover,
.education:hover,
.skill:hover,
.language-flex:hover{
    background-color: #F4ECE6;
    border-color: #F4ECE6;
}

.languages{
    margin-top: 130px;
}

.language .circle{
    height: 10px;
    width: 10px;
    background-color: #0050FF;
    border-radius: 50%;
    margin-top: 18px;
    margin-right: 8px;
}

.language-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    margin-bottom: 90px;
    width: 860px;
    border: solid 1px  #ffffff;
    background-color:  #ffffff;
}

.language{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
}

#projets{
    background-color: #E6DACE;
    margin-top: 120px;
    text-align: center;
    margin-bottom: -1030px;
    height: 1500px;
}

#projets h2{
    padding-top: 100px
}

#projets p{
    margin-top: 50px;
}

.projet-group{
    width: 600px;
    margin: 80px auto;
}

.projet-presentation{
    display: flex;
    justify-content: space-around;
    border: solid 1px #ffffff;
    margin-bottom: 50px;
}

.projet{
    width: 55%;
    height: 200px;
    background-color: #ffffff;
    text-align: left;
    padding-left: 30px;
}

.projet-title{
    display: flex;
    margin-left: -30px;
    margin-top: 20px;
}

.projet-img{
    width: 45%;
    margin: auto;
}

.projet-img img{
    width: 230px;
    height: 100px;
}

.rectangle{
    width: 8px;
    height: 25px;
    background-color: #0050FF;
    margin-top: 15px;
}

.projet-title h3{
    margin-left: 20px;
    color: #0050FF;
}

.projet p{
    margin-top: 10px;
}

#contact{
    background-color: #E6DACE;
    margin-top: 120px;
    text-align: center;
    height: 800px;
    margin-bottom: -1020px;
}

#contact h2{
    padding-top: 80px;
}

.info-contact{
    margin-top: 80px;
    width: 380px;
    height: 230px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}

.email,
.tel{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.email p,
.tel p{
    margin-top: 20px;
    margin-left: 10px; 
}

#contact-email{
    text-decoration: none;
    color: #000000;
}

.forms{
    width: 680px;
    height: 400px;
    border: 1px solid #ffffff;
    margin: 60px auto;
    background-color: #ffffff;
    text-align: left;
}

.form{
    margin-top: 50px;
    margin-left: 80px;
}

.form input,
.form textarea{
    margin-left: 10px;
    border: 2px solid grey;
    border-radius: 5px;
}

#email{
    width: 440px
}

#message{
    width: 420px;
    height: 150px;
}

.form-flex{
    display: flex;
}

#send-message{
    margin-left: 40%;
    margin-top: 60px;
    font-size: 18px;
    border-radius: 30px;
    width: 120px;
    height: 38px;
    border: 2px solid #0050FF;
    background-color: #0050FF;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
}

#send-message:hover{
    color: #000000;
    background-color: #ffffff;
}

footer{
    z-index: 2;
    margin-top: 1050px;
    font-size: 12px;
    text-align: center;
}

@media (max-width: 1235px) {
    .name-title-block{
        display: block;
        margin-top: -3px;
    }

    .name_title h4{
        margin-top: 20px;
    }
}

@media (max-width: 1070px){
    .name-title-block h4{
        font-size: 15px;
    }
}

@media (max-width: 1050px){
    .name_title{
        display: none;
    }

    nav{
        margin-left: auto;
        margin-right: auto;
    }

}


@media (max-width: 890px){
    .background_left{
        height: 800px;
    }

    .presentation_left{
        width: 210px;
        height: 400px;
    }    

    .presentation_right{
        width: 190px;
        height: 400px;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }    

    .bref_presentation img{
        height: 160px;
        width: 160px;
        margin-top: 25px;
    }

    .name_title_presentation h4{
        font-size: 13px;
    }

    .presentation_right h1{
        font-size: 39px;
    }

    .presentation_right h3{
        font-size: 14px;
    }

    .presentation_right p{
        text-align: justify;
        font-size: 13px;
        margin-top: 30px;
    }

    .logos{
        width: 210px;
        height: 30px;
    }

    .logos img{
        width: 20px;
        height: 18px;
        margin-top: 5px;
    }

    .propos-button{
        width: 80px;
        height: 28px;
        border-radius: 30px;
        font-size: 12px;
    }

    .propos-cv{
        margin-left: 10px;
    }

}